# Database configuration
SPRING_DATA_SOURCE=jdbc:postgresql://localhost:5432/db_name
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWOR=

#JWT secret mikey
JWT_SECRET_KEY=

#Mail properties
SUPPORT_EMAIL=
APP_PASSWORD=